<launch>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find airp1_foldy_base_control)/config/airp1_foldy_base_control.yaml" command="load"/>

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" ns="/airp1_foldy_base" args="joint_state_controller
                                       left_omniwheel_velocity_controller
                                       right_omniwheel_velocity_controller
				       back_omniwheel_velocity_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/airp1_foldy_base/joint_states"/>
    </node>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
</launch>
