<launch>

	<!-- Load the URDF into ROS parameter server -->
	<param name="/r2p_foldy_base/robot_description" command="$(find xacro)/xacro.py '$(find r2p_foldy_base_description)/urdf/r2p_foldy_base_gazebo.xacro'"/>

	<node name="canopen_motor" pkg="canopen_motor_node" type="canopen_motor_node" output="screen" clear_params="true" ns="/r2p_foldy_base">
    		<rosparam command="load" file="$(find r2p_foldy_base_canopen)/config/canopen_bus_layer.yaml" />
    		<rosparam command="load" file="$(find r2p_foldy_base_canopen)/config/controller.yaml" />
    		<rosparam command="load" file="$(find r2p_foldy_base_canopen)/config/node_layer.yaml" />
	</node>

	<!-- load the controllers -->
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" ns="/r2p_foldy_base" args="joint_state_controller
                                           left_omniwheel_velocity_controller
                                           right_omniwheel_velocity_controller
                                           back_omniwheel_velocity_controller"/>

        <!-- Combine joint values -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/r2p_foldy_base"/>

        <!-- Show in Rviz   -->
        <!-- node name="rviz" pkg="rviz" type="rviz"/-->

	<!-- include file="$(find r2p_foldy_base_control)/launch/r2p_foldy_base_control.launch"/ -->

</launch>
