<launch>

	<node name="osa_xboxjoy_node" pkg="joy" type="joy_node" output="screen" respawn="true"/>

	<!-- Load parameters -->
	<rosparam file="$(find r2p_foldy_base_description)/config/r2p_foldy_base_geometry.yaml" command="load"/>
	
	<node name="osa_kiwi" pkg="r2p_foldy_base_apps" type="osa_r2p_foldy_base_manual" output="screen" respawn="true" launch-prefix="xterm -e"/>
	<node name="osa_joy_conductor" pkg="r2p_foldy_base_apps" type="osa_r2p_foldy_joy_conductor" output="screen" respawn="true"/>

</launch>
